{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif

  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and products_to_display > columns_mobile_int
    assign show_mobile_slider = true
  endif
-%}

<section
  id="collection-{{ section.id }}"
  data-id="{{ section.id }}"
  class="customer"
>
  <div class="product">
    {%- if section.settings.title != blank -%}
      <h2>
        {{ section.settings.title }}
      </h2>
    {%- endif -%}

    <div class="slider">
      <div class="swiper" id="product">
        <div class="swiper-wrapper product__list">
          {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
            {% render 'card-product',
              card_product: product,
              display_as_slide: true,
            %}
          {%- endfor -%}
        </div>
      </div>
      <div class="swiper__navigation">
        <div class="swiper-button-prev product-button-prev"></div>
        <div class="swiper-button-next product-button-next"></div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.featured_collection.name",
  "tag": "section",
  "class": "featured_collection_section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "t:sections.featured_collection.settings.title.default",
      "label": "t:sections.featured_collection.settings.title.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured_collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured_collection.settings.products_to_show.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured_collection.presets.name"
    }
  ]
}
{% endschema %}
