<div class="seen">
  <h2>{{ section.settings.title }}</h2>
  <ul class="seen__list">
    {% for block in section.blocks %}
      <li>
        {%- if block.settings.image != blank -%}
          {{ block.settings.image | image_url: height: 100 | image_tag}}
        {%- else -%}
          {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      </li>
    {% endfor %}
  </ul>
</div>


{% schema %}
  {
    "name": "Images",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "As seen on"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Logo Image"
          },
          {
            "type": "text",
            "id": "alt_text",
            "label": "Alt Text",
            "default": "Brand Logo"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Images",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}