<section class="info {% if section.settings.white_bg %} white-bg {% endif %}">
  <div class="container">
    <div class="reported">
      {% if section.settings.title != blank %}
        <h2>{{ section.settings.title }}</h2>
      {% endif %}
      <ul class="reported__list">
        {% for block in section.blocks %}
          {% if block.type == 'block' %}
            <li>
              <div class="top">
                {%- if block.settings.icon != blank -%}
                  {{ block.settings.icon | image_url: height: block.settings.icon.height | image_tag }}
                {%- endif -%}
                <h5>{{ block.settings.title }}</h5>
              </div>
              <div class="bottom">
                {{ block.settings.text }}
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.info_section.name",
  "class": "info_section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.info_section.settings.title.label",
      "default": "t:sections.info_section.settings.title.default"
    },
    {
      "type": "checkbox",
      "id": "white_bg",
      "label": "t:sections.info_section.settings.white_bg.label",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "t:sections.info_section.blocks.block.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "t:sections.info_section.blocks.block.settings.icon.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.info_section.blocks.block.settings.title.label",
          "default": "t:sections.info_section.blocks.block.settings.title.default"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.info_section.blocks.block.settings.text.label",
          "default": "t:sections.info_section.blocks.block.settings.text.default"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.info_section.presets.name",
      "blocks": [
        {
          "type": "block"
        },
        {
          "type": "block"
        },
        {
          "type": "block"
        }
      ]
    }
  ]
}
{% endschema %}
