<section class="explore">
  <div class="container">
    <ul class="maps__list">
      {% for block in section.blocks %}
        <li>
          <div class="col">
            {%- if block.settings.image != blank -%}
              {{ block.settings.image | image_url: height: 390 | image_tag }}
            {%- else -%}
              {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
          <div class="col">
            {{ block.settings.text }}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% schema %}
  {
    "name": "Multirow",
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<h3>Title </h3><p>Description</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Multirow",
        "blocks": [
          {
            "type": "block"
          }
        ]
      }
    ]
  }
{% endschema %}