<section
  {% if section.settings.bg != blank %}
    style="background: url('{{ section.settings.bg | image_url }}') center/cover no-repeat;"
  {% endif %}
  class="multirow"
>
  <div class="container">
    <ul class="maps__list">
      {% for block in section.blocks %}
        <li>
          <div class="col">
            {%- if block.settings.image != blank -%}
              {{ block.settings.image | image_url: height: block.settings.image.height | image_tag }}
            {%- else -%}
              {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
          <div class="col">
            {{ block.settings.text }}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.multirow.name",
  "settings": [
        {
      "type": "image_picker",
      "id": "bg",
      "label": "Background image"
    },
  ],
  "blocks": [
    {
      "type": "block",
      "name": "t:sections.multirow.blocks.block.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multirow.blocks.block.settings.image.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.multirow.blocks.block.settings.text.label",
          "default": "t:sections.multirow.blocks.block.settings.text.default"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multirow.presets.name",
      "blocks": [
        {
          "type": "block"
        }
      ]
    }
  ]
}
{% endschema %}
